button {
    background: url(assets/buttons.png) center no-repeat;
    background-size: 100% 100%;
    padding: 2vh 5vw;
    border-width:0;
    font-size: 20px;
    text-align: center;
    display: block;
    width:100%;
    margin:10px 0;

}

#contentContainer {
    position: relative;
  }
  #canvasContainer,
  #buttonContainer {
    position: absolute;
  }
  #buttonContainer {
        position: absolute;
        top: 46vh;
        left: 18vw;
        z-index: 10;
  }
#player,#audio {
width:0px;
height:0px;
visibility: hidden;
}